html {
    font-size: 16px;
}

div {
    background: #f8f8ff;
    color: #16161d;
    border: 0.3em solid #16161d;
    display: inline-block;
    font-family: monospace;
    font-size: 1em;
    padding: 0.5em 1em;
    transition: all 0.3s;
}

div:hover,
div:focus {
    background: #16161d;
    color: #f8f8ff;
}

div:focus {
    outline: 1px solid blue;
}
