*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

#container{
    width: 80%;
    min-width: 800px;
    min-height: 100vh;
    margin: auto;
    background-color: rgba(223, 226, 230, 0.8);
}

#weather-box{
    width: 300px;
    min-height: 150px;
    border: 1px solid black;
    margin: 15px;
}

#weather-heading{
    font-size: 2em;

}

#weather-display{
    font-size: 8em;
    text-align: center;
}

.left-justify{
    min-width: 33%;
    height: 100%;
    float: left;
    /* background-color: aliceblue; */
}

h1{
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    background-color: rgba(101, 177, 177, 1);
}