table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
  }

  td, th {
    border: 1px solid rgb(214, 214, 214);
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: rgb(219, 219, 219);
  }