table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 600px; */
}

td, th {
  border: 1px solid rgb(214, 214, 214);
  text-align: left;
  padding: 4px;
  font-size: 1em;
}


tr:nth-child(even) {
  background-color: rgb(219, 219, 219);
}

.box{
  padding: 10px;
  margin: 10px;
  border: 1px black solid;
}

.live-game{
  border: 1px black solid;
  margin: 5px;
  padding: 2px;
  min-width: 150px;
}

.live-score-right{
  float: right;
}


#live-scores{
  display: flex;
  height: 100px;
  width: 80%;
  min-width: 970px;
  max-width: 2000px;
  margin: auto;
}

#app{
  display: flex;
  width: 80%;
  min-width: 970px;
  max-width: 2000px;
  margin: auto;
  background-color: whitesmoke;
}

#standings{
  float: left;
  width: 40%;
}

#standings tr:hover{
  color: rgb(219, 217, 217);
  background-color: rgb(109, 109, 109);

}

#team-info{
  float: left;
  width: 60%;
}